{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-spread"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env"
        ]
      ]
    }
  }
}
